{% load static %}

    <!-- footer-area -->
    <footer>
        <div class="footer__area-three">
            <div class="footer__top-three">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-8">
                            <div class="footer-widget">
                                <div class="footer__newsletter-three">
                                    <h2 class="title">Never Miss out on a Moment <br> with us</h2>
                                    <p style="color: rgb(183, 182, 241); font-size: 18px;">We provide assistance related to business registration, legal and regulatory compliance and tax filing to offer a seamless business journey to clients</p>
                                </div>
                                <div class="footer__social-three">
                                    <span class="title">Follow Us on:</span>
                                    <ul class="list-wrap">
                                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                        <!-- <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li> -->
                                        <!-- <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">Information</h4>
                                <div class="footer-link-list">
                                    <ul class="list-wrap">
                                        <li><a href="{% url 'about' %}">Information</a></li>
                                        <li><a href="{% url 'about' %}">About us</a></li>
                                        <!-- <li><a href='team.html'>Meet our team</a></li> -->
                                        <li><a href="{% url 'services' %}">services</a></li>
                                        <!-- <li><a href='blog.html'>Latest news</a></li> -->
                                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">Location</h4>
                                <div class="footer-info-list">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <div class="content">
                                                <a href="tel:8075929458">8075929458</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-envelope"></i>
                                            </div>
                                            <div class="content">
                                                <a href="mailto:bizinsightoffice@gmail.com">bizinsightoffice@gmail.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-pin"></i>
                                            </div>
                                            <div class="content">
                                                <p class="p1">2nd Floor, Nirappukattil Building, Civil Line Rd, Chembumukku,<br> Vazhakkala, Kochi, Kerala 682030</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-6 col-sm-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15716.282203894754!2d76.32157227301637!3d10.01103129289847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d8edd0f68bf%3A0x4cb690f26db28fd4!2sBusiness%20Insight!5e0!3m2!1sen!2sin!4v1716014807975!5m2!1sen!2sin" width="auto" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>




            <div class="footer__bottom-three">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- <div class="col-md-12">
                            <div class="fw-logo">
                                <a href=''><img src="{% static 'customer_app/img/logo/w_logo.png' %}" alt=""></a>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p >Copyright © <a href=''>Business Insight</a> | All Right Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->