<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin_app/login.css' %}">
</head>
    <body>
        <div class="container-fluid d-flex justify-content-center py-5">
            {% include 'admin_app/components/alert.html' %}
        <div class="container">
            <div>
                <h2><b>Login</b></h2>
            </div>
            <div>
                <form action="" method="post" >
                    {% csrf_token %}
                    <div>
                        <input type="text" placeholder="Username" name="username" required><br>
                    </div>
                    <div>
                        <input type="password" placeholder="Password" name="password" required><br>
                    </div>
                    <input type="submit" name="save">
                </form>

            </div>
        </div>
    </div> 
    {% if error %}

        <p style="text-align: center; color: red;">{{ error }}</p>
    {% endif %}
    </body>
</html>